html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

#main-container {
    display: grid;
    grid-template-columns: 290px auto;
    line-height: 1.6;
    margin-top: 0px;
}

#main-doc {
    border-left: 2px solid rgba(0, 22, 22, 0.4);
    padding: 20px;
}

code {
    display: block;
    background-color: #f7f7f7;
    padding: 18px;
    margin: 10px;
    word-break: break-all;
}

header {
    font-size: 32px;
    text-align: left;
}

article {
    padding: 10px 20px;
    text-align: justify;
    color: #4d4e53;
}

li {
    margin: 10px 0;
}

#nav-header {
    text-align: center;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 299px;
    display: grid;
    grid-template-rows: 60px repeat(14, 40px);
    height: 100%;
}

.nav-link-container {
    border-top: 1px solid black;
    width: 100%;
}

#reference {
    border-bottom: 1px solid black;
}

.nav-link {
    text-decoration: none;
    color: #4d4e53;
    font-size: 18px;
    margin-left: 31px;
    justify-self: stretch;
    line-height: 2.2;
}

.spacer {
    height: 10px;
}

@media (max-width: 816px) {

    .main-section {
        max-width: 100%;
    }

    #main-doc {
        border-left: unset;
    }
    #main-container {
        grid-template-columns: 1fr;
    }

    #navbar {
        position: relative;
        right: 0;
        bottom: unset;
        width: 100%;
    }
    
    .spacer {
        display: none;
    }
}

@media (max-width: 425px) {
    #main-doc {
        padding: 5px;
    }

    article {
        padding: 5px 8px;
    }

    code {
        margin: 10px 0px;
        padding: 8px 10px;
    }

    #navbar {
        margin-bottom: 10px;
    }
}